<h1>New Sub</h1>

<form action="<%= subs_url %>" method="post">
  <%= auth %>

  <label for="Title">Title</label>
  <input id="Title" type="text" name="sub[title]" value="">

  <label for="Description">Description</label>
  <textarea id="Description" name="sub[description]"></textarea>

  <input type="submit" value="Create Sub">

</form>
