<h1>New Rental Request</h1>

<form action="<%= cat_rental_requests_url %>" method="post">
  <label for="cat_choice">Choose a Cat</label>
  <br>
  <select id="cat_choice" name="cat_rental_request[cat_id]">
    <% Cat.all.each do |cat| %>
      <option value="<%= cat.id %>"><%= cat.name %></option>
    <% end %>
  </select>
  <br><br>

  <label for="start_date">Start Date:</label>
  <input id="start_date" type="date" name="cat_rental_request[start_date]" value="">
  <br><br>
  <label for="end_date">Start Date:</label>
  <input id="end_date" type="date" name="cat_rental_request[end_date]" value="">
  <br><br>

  <input type="submit" value="submit request">
</form>
