<form action="<%= notes_url %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token  %>">
  <input type="hidden" name="note[track_id]" value="<%= track_id %>">
  <textarea name="note[body]" rows="8" cols="80"></textarea>
  <input type="submit" value="add note!">

</form>
